html, body{
  margin: 0;
  width: 100%;
  font-family: sans-serif;
}

.container {
  margin: auto;
}

.row {
  margin: 0;
}

hr {
  width: 100%;
}

header {
  position: fixed;
  top:0;
  left:0;
  right:0;
  background-color: white;
  opacity: 0.95;
  z-index: 100;

  .row {
    height: 50px;
    border-bottom: 2px solid black;
  }

  ul {
    list-style-type: none;
    li {
      display: inline;
      margin-left: 5px;
      margin-right: 5px;
    }

    li:hover {
      cursor: pointer;
      border-bottom: 2px solid black;
      font-weight: bold;
    }
  }
}

#home {
  margin-top: 100px;
  .row {
    height: 100vh;
    margin-top: -80px;
  }

  img {
    width: 80%;
    border-radius: 400px;
    border: 3px solid black;
  }

  h1 {
    margin-top: 0;
    font-size: 70px;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    font-size: 20px;
  }

  button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
    width: 200px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    font-size: 25px;
    border-radius: 20px;
  }

  button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }

  .fa-chevron-down {
    margin-top: 50px;
    font-size: 70px;
  }

  .fa-chevron-down:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
}

#skills {
  padding-bottom: 100px;

  h1 {
    font-size: 50px;
    margin-bottom: 0;
  }

  p {
    font-size: 20px;
  }
  .fa-chevron-down {
    margin-top: 50px;
    margin-bottom: 150px;
    font-size: 70px;
  }

  .fa-chevron-down:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }

}

#portfolio {
  h1 {
    font-size: 50px;
    margin-bottom: 0;
  }

  .fa-chevron-down {
    margin-top: 50px;
    margin-bottom: 150px;
    font-size: 70px;
  }

  .fa-chevron-down:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }



  img {
    width: 100%;
  }

  .row {
    margin-top: 20px;
  }




  .box:hover {
    border: 2px solid black;
    cursor: pointer;
  }

}
