/* line 1, ../sass/styles.scss */
html, body {
  margin: 0;
  width: 100%;
  font-family: sans-serif;
}

/* line 7, ../sass/styles.scss */
.container {
  margin: auto;
}

/* line 11, ../sass/styles.scss */
.row {
  margin: 0;
}

/* line 15, ../sass/styles.scss */
hr {
  width: 100%;
}

/* line 19, ../sass/styles.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.95;
  z-index: 100;
}
/* line 28, ../sass/styles.scss */
header .row {
  height: 50px;
  border-bottom: 2px solid black;
}
/* line 33, ../sass/styles.scss */
header ul {
  list-style-type: none;
}
/* line 35, ../sass/styles.scss */
header ul li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 41, ../sass/styles.scss */
header ul li:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
  font-weight: bold;
}

/* line 49, ../sass/styles.scss */
#home {
  margin-top: 100px;
}
/* line 51, ../sass/styles.scss */
#home .row {
  height: 100vh;
  margin-top: -80px;
}
/* line 56, ../sass/styles.scss */
#home img {
  width: 80%;
  border-radius: 400px;
  border: 3px solid black;
}
/* line 62, ../sass/styles.scss */
#home h1 {
  margin-top: 0;
  font-size: 70px;
  margin-bottom: 0;
}
/* line 68, ../sass/styles.scss */
#home h2 {
  margin-top: 0;
  font-size: 20px;
}
/* line 73, ../sass/styles.scss */
#home button {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -10px;
  width: 200px;
  height: 50px;
  background-color: white;
  border: 2px solid black;
  font-size: 25px;
  border-radius: 20px;
}
/* line 85, ../sass/styles.scss */
#home button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
/* line 91, ../sass/styles.scss */
#home .fa-chevron-down {
  margin-top: 50px;
  font-size: 70px;
}
/* line 96, ../sass/styles.scss */
#home .fa-chevron-down:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* line 104, ../sass/styles.scss */
#skills {
  padding-bottom: 100px;
}
/* line 107, ../sass/styles.scss */
#skills h1 {
  font-size: 50px;
  margin-bottom: 0;
}
/* line 112, ../sass/styles.scss */
#skills p {
  font-size: 20px;
}
/* line 115, ../sass/styles.scss */
#skills .fa-chevron-down {
  margin-top: 50px;
  margin-bottom: 150px;
  font-size: 70px;
}
/* line 121, ../sass/styles.scss */
#skills .fa-chevron-down:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* line 131, ../sass/styles.scss */
#portfolio h1 {
  font-size: 50px;
  margin-bottom: 0;
}
/* line 136, ../sass/styles.scss */
#portfolio .fa-chevron-down {
  margin-top: 50px;
  margin-bottom: 150px;
  font-size: 70px;
}
/* line 142, ../sass/styles.scss */
#portfolio .fa-chevron-down:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
/* line 151, ../sass/styles.scss */
#portfolio img {
  width: 100%;
}
/* line 155, ../sass/styles.scss */
#portfolio .row {
  margin-top: 20px;
}
/* line 162, ../sass/styles.scss */
#portfolio .box:hover {
  border: 2px solid black;
  cursor: pointer;
}
